h1 {
    
}

img {
    width: 300px;
}

.subjectContainer {
    display: grid;
    grid-template-columns: auto auto auto;
}

.subjectBox {
    border: 2px solid purple;
}

#middlebox {
    border: 2px solid cyan;
}z

.button {
    background-color: aqua;
    width: 65px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
}

.title {
    background-color: blue;
}

.header {
    background-color: rgb(39, 39, 38);
}

.navigation {
    background-color: rgb(53, 53, 53);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.navlink {
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

.navlink:hover{
    color: #333;
}